---
  name: "publish plugins for nushell"
  
  on:
    workflow_dispatch:
      inputs:
        version:
          description: "NuShell version to test against"
          required: true
          default: "0.106.0"
    # push:
    #   branches:
    #     - plugins
    #   paths:
    #     - .github/workflows/publish-plugins.yaml

  concurrency:
    group: "publish-plugins"
    cancel-in-progress: true

  jobs:
    proxy-images-matrix:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: hustcer/setup-nu@v3
          with:
            version: ${{ inputs.version }}
        - uses: actions-rust-lang/setup-rust-toolchain@v1
        - shell: nu {0}
          id: install-plugin-file-name
          run: |
            sudo apt update
            sudo apt install libfontconfig1-dev pkg-config
            rustup target add x86_64-unknown-linux-gnu
            cargo build --release --target x86_64-unknown-linux-gnu
            ls target/**/*
        - name: Upload rhino logs
          uses: actions/upload-artifact@v4
          with:
            name: csv_plotter
            path: target/x86_64-unknown-linux-gnu/release/csv_plotter
            retention-days: 2
    proxy-images-matrix-arm:
      runs-on: ubuntu-22.04-arm
      steps:
        - uses: actions/checkout@v4
        - uses: hustcer/setup-nu@v3
          with:
            version: ${{ inputs.version }}
        - uses: actions-rust-lang/setup-rust-toolchain@v1
        - shell: nu {0}
          id: install-plugin-file-name
          run: |
            sudo apt update
            sudo apt install libfontconfig1-dev pkg-config
            rustup target add aarch64-unknown-linux-gnu
            cargo build --release --target aarch64-unknown-linux-gnu
            ls target/**/*
        - name: Upload rhino logs
          uses: actions/upload-artifact@v4
          with:
            name: csv_plotter-arm
            path: target/aarch64-unknown-linux-gnu/release/csv_plotter
            retention-days: 2